.reserva-turno .seleccion-turno .input-seleccion form input, .reserva-turno .seleccion-turno .input-seleccion form select {
  width: 200px; }

/* estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: black; }

a {
  text-decoration: none !important; }

/* estilos header */
.navbar {
  background-color: black;
  color: white; }
  .navbar img {
    width: 7rem; }
  .navbar a {
    color: #BCBCB5 !important;
    transition: 0.5s; }
  .navbar a:hover {
    background-color: #E4DE1B;
    color: black !important;
    border-radius: 5%;
    transition: 0.5s; }

/* estilos index */
.index .imagen-presentacion {
  background-image: url("../img/salon-belleza.jpg");
  background-size: 100%;
  background-position: center;
  height: 40rem;
  display: flex;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  justify-content: center; }
  .index .imagen-presentacion .texto-presentacion {
    padding-left: 30px; }
    .index .imagen-presentacion .texto-presentacion h1 {
      font-size: 5rem;
      color: #E4DE1B;
      text-shadow: 2px 2px black; }
    .index .imagen-presentacion .texto-presentacion p {
      font-size: 2rem;
      width: 50%;
      color: white;
      text-shadow: 2px 2px black; }

.index .servicios-index {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding-top: 15px;
  background-color: black; }
  .index .servicios-index .texto-servicios h2 {
    color: #E4DE1B; }
  .index .servicios-index .tarjetas-servicios {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 10px; }
    .index .servicios-index .tarjetas-servicios .tarjeta {
      display: flex;
      flex-direction: column;
      border: 2px solid white;
      align-items: center; }
      .index .servicios-index .tarjetas-servicios .tarjeta img {
        width: 18rem;
        padding: 10px;
        border-radius: 5%; }
      .index .servicios-index .tarjetas-servicios .tarjeta span {
        color: #E4DE1B;
        text-decoration: underline; }
      .index .servicios-index .tarjetas-servicios .tarjeta p {
        color: #BCBCB5; }
  .index .servicios-index .link-mas-servicios {
    padding-bottom: 20px; }
    .index .servicios-index .link-mas-servicios a {
      border: 2px solid #E4DE1B;
      color: #E4DE1B;
      border-radius: 5%;
      padding: 10px;
      transition: 0.5s; }
    .index .servicios-index .link-mas-servicios a:hover {
      background-color: #E4DE1B;
      color: black;
      transition: 0.5s; }

/* estilos servicios */
.servicios {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 30px; }
  .servicios .titulo-servicios h1 {
    color: #E4DE1B; }
  .servicios .cajas-servicios {
    display: flex;
    gap: 6rem; }
    .servicios .cajas-servicios .caja-unias a {
      background-image: url("../img/unias.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      font-size: 4rem;
      color: white;
      transition: 1s; }
    .servicios .cajas-servicios .caja-unias a:hover {
      transform: scale(1.1);
      text-shadow: 2px 2px black;
      transition: 1s; }
    .servicios .cajas-servicios .caja-pestanias a {
      background-image: url("../img/Pestania.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      font-size: 4rem;
      color: white;
      transition: 1s; }
    .servicios .cajas-servicios .caja-pestanias a:hover {
      transform: scale(1.1);
      text-shadow: 2px 2px black;
      transition: 1s; }

/* estilos servicios-unias */
.servicios-unias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black; }
  .servicios-unias .titulo-servicios-unias h1 {
    color: #E4DE1B; }
  .servicios-unias .tarjetas-unias {
    display: flex;
    flex-direction: column;
    width: 60rem;
    gap: 7rem;
    padding: 10px 50px 10px 50px; }
    .servicios-unias .tarjetas-unias .tarjeta-uno {
      display: flex;
      gap: 2rem;
      justify-content: space-between; }
      .servicios-unias .tarjetas-unias .tarjeta-uno .descripcion-tarjeta-uno h2 {
        color: #E4DE1B;
        text-decoration: underline; }
      .servicios-unias .tarjetas-unias .tarjeta-uno .descripcion-tarjeta-uno p {
        color: #BCBCB5;
        font-size: 1.5rem; }
      .servicios-unias .tarjetas-unias .tarjeta-uno .descripcion-tarjeta-uno a {
        border: 2px solid #E4DE1B;
        color: #E4DE1B;
        border-radius: 5%;
        padding: 10px;
        transition: 0.5s; }
      .servicios-unias .tarjetas-unias .tarjeta-uno .descripcion-tarjeta-uno a:hover {
        background-color: #E4DE1B;
        color: black;
        transition: 0.5s; }
      .servicios-unias .tarjetas-unias .tarjeta-uno img {
        border-radius: 10px; }
    .servicios-unias .tarjetas-unias .tarjeta-dos {
      display: flex;
      gap: 2rem;
      justify-content: space-between; }
      .servicios-unias .tarjetas-unias .tarjeta-dos .descripcion-tarjeta-dos h2 {
        color: #E4DE1B;
        text-decoration: underline; }
      .servicios-unias .tarjetas-unias .tarjeta-dos .descripcion-tarjeta-dos p {
        color: #BCBCB5;
        font-size: 1.5rem; }
      .servicios-unias .tarjetas-unias .tarjeta-dos .descripcion-tarjeta-dos a {
        border: 2px solid #E4DE1B;
        color: #E4DE1B;
        border-radius: 5%;
        padding: 10px;
        transition: 0.5s; }
      .servicios-unias .tarjetas-unias .tarjeta-dos .descripcion-tarjeta-dos a:hover {
        background-color: #E4DE1B;
        color: black;
        transition: 0.5s; }
      .servicios-unias .tarjetas-unias .tarjeta-dos img {
        border-radius: 10px; }

/* estilos servicios-unias */
.servicios-pestanias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black; }
  .servicios-pestanias .titulo-servicios-pestanias h1 {
    color: #E4DE1B; }
  .servicios-pestanias .tarjetas-pestanias {
    display: flex;
    flex-direction: column;
    width: 60rem;
    gap: 7rem;
    padding: 10px 50px 10px 50px; }
    .servicios-pestanias .tarjetas-pestanias .tarjeta-uno {
      display: flex;
      gap: 2rem;
      justify-content: space-between; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno .descripcion-tarjeta-uno h2 {
        color: #E4DE1B;
        text-decoration: underline; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno .descripcion-tarjeta-uno p {
        color: #BCBCB5;
        font-size: 1.5rem; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno .descripcion-tarjeta-uno a {
        border: 2px solid #E4DE1B;
        color: #E4DE1B;
        border-radius: 5%;
        padding: 10px;
        transition: 0.5s; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno .descripcion-tarjeta-uno a:hover {
        background-color: #E4DE1B;
        color: black;
        transition: 0.5s; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno img {
        border-radius: 10px; }
    .servicios-pestanias .tarjetas-pestanias .tarjeta-dos {
      display: flex;
      gap: 2rem;
      justify-content: space-between; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos .descripcion-tarjeta-dos h2 {
        color: #E4DE1B;
        text-decoration: underline; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos .descripcion-tarjeta-dos p {
        color: #BCBCB5;
        font-size: 1.5rem; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos .descripcion-tarjeta-dos a {
        border: 2px solid #E4DE1B;
        color: #E4DE1B;
        border-radius: 5%;
        padding: 10px;
        transition: 0.5s; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos .descripcion-tarjeta-dos a:hover {
        background-color: #E4DE1B;
        color: black;
        transition: 0.5s; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos img {
        border-radius: 10px; }

/* estilos conocenos */
.conocenos {
  display: flex;
  flex-direction: column;
  background-color: black; }
  .conocenos .por-que-elegirnos {
    display: flex;
    flex-direction: column; }
    .conocenos .por-que-elegirnos .img-con-titulo {
      height: 6rem;
      padding-top: 20px;
      text-align: center; }
      .conocenos .por-que-elegirnos .img-con-titulo img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .conocenos .por-que-elegirnos .img-con-titulo span {
        position: relative;
        bottom: 70px;
        font-size: 3rem;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .conocenos .por-que-elegirnos .info-elegirnos {
      padding: 10px; }
      .conocenos .por-que-elegirnos .info-elegirnos .img-elegirnos img {
        width: 70%;
        float: left;
        object-fit: cover;
        margin: 0 10px; }
      .conocenos .por-que-elegirnos .info-elegirnos .descripcion-elegirnos p {
        color: #BCBCB5;
        font-size: 1.5rem; }
  .conocenos .staff .img-con-titulo {
    height: 6rem;
    padding-top: 20px;
    text-align: center; }
    .conocenos .staff .img-con-titulo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .conocenos .staff .img-con-titulo span {
      position: relative;
      bottom: 70px;
      font-size: 3rem;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .conocenos .staff .especialista {
    display: flex;
    gap: 2rem;
    padding: 20px; }
    .conocenos .staff .especialista span {
      font-size: 2rem;
      color: #E4DE1B; }
    .conocenos .staff .especialista p {
      color: #BCBCB5;
      font-size: 1.5rem; }
    .conocenos .staff .especialista .img-especialista img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.reserva-turno .seleccion-turno .input-seleccion form input, .reserva-turno .seleccion-turno .input-seleccion form select {
  width: 200px; }

/* estilos reserva-turno */
.reserva-turno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px; }
  .reserva-turno .seleccion-turno {
    border: 3px solid white;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 50px 5px 50px; }
    .reserva-turno .seleccion-turno .titulo-seleccion h1 {
      color: #E4DE1B;
      font-size: 6rem; }
    .reserva-turno .seleccion-turno .titulo-seleccion p {
      color: #E4DE1B; }
    .reserva-turno .seleccion-turno .input-seleccion form div {
      padding: 10px; }
  .reserva-turno .botones-seleccion {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    gap: 1rem; }
    .reserva-turno .botones-seleccion a {
      border: 2px solid #E4DE1B;
      color: #E4DE1B;
      border-radius: 5%;
      padding: 10px;
      transition: 0.5s; }
    .reserva-turno .botones-seleccion a:hover {
      background-color: #E4DE1B;
      color: black;
      transition: 0.5s; }

/* estilos footer */
#contacto {
  display: grid;
  grid-template-areas: "horarios direccion botones-contacto" "arriba arriba arriba" "copyright copyright copyright";
  padding-top: 5px;
  text-align: center;
  background-color: #353535; }
  #contacto .boton-top {
    grid-area: arriba; }
  #contacto .horarios {
    grid-area: horarios; }
    #contacto .horarios h2 {
      color: #E4DE1B; }
    #contacto .horarios p {
      color: #BCBCB5; }
  #contacto .direccion {
    grid-area: direccion; }
    #contacto .direccion h2 {
      color: #E4DE1B; }
    #contacto .direccion p {
      color: #BCBCB5; }
  #contacto .botones-contacto {
    grid-area: botones-contacto;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 3rem; }
    #contacto .botones-contacto .whatsapp a {
      transition: 1s; }
      #contacto .botones-contacto .whatsapp a img {
        width: 3rem; }
    #contacto .botones-contacto .whatsapp a:hover {
      transition: 1s;
      filter: drop-shadow(6px 6px 6px #57F06E); }
    #contacto .botones-contacto .instagram a {
      transition: 1s; }
      #contacto .botones-contacto .instagram a img {
        width: 3rem; }
    #contacto .botones-contacto .instagram a:hover {
      filter: drop-shadow(6px 6px 6px #E4102C);
      transition: 1s; }
  #contacto .arriba {
    grid-area: arriba; }
    #contacto .arriba img {
      width: 3rem; }
  #contacto .copyright {
    grid-area: copyright;
    color: #BCBCB5;
    background-color: black; }

@media screen and (max-width: 600px) {
  /* estilos index mobile */
  .index .imagen-presentacion {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem; }
    .index .imagen-presentacion .texto-presentacion h1 {
      font-size: 1.2rem; }
    .index .imagen-presentacion .texto-presentacion p {
      font-size: 1.2rem;
      width: 80%; }
  .index .servicios-index .tarjetas-servicios {
    flex-direction: column; }
  /* estilos servicios version mobile */
  .servicios .cajas-servicios {
    flex-direction: column; }
  /* estilos servicios-unias mobile */
  .servicios-unias .tarjetas-unias {
    width: 0;
    padding-bottom: 20px;
    gap: 4rem; }
    .servicios-unias .tarjetas-unias .tarjeta-uno {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem; }
      .servicios-unias .tarjetas-unias .tarjeta-uno .descripcion-tarjeta-uno {
        width: 20rem; }
        .servicios-unias .tarjetas-unias .tarjeta-uno .descripcion-tarjeta-uno p {
          font-size: 1rem; }
      .servicios-unias .tarjetas-unias .tarjeta-uno img {
        border-radius: 10px;
        width: 20rem; }
    .servicios-unias .tarjetas-unias .tarjeta-dos {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem;
      flex-direction: column-reverse; }
      .servicios-unias .tarjetas-unias .tarjeta-dos .descripcion-tarjeta-dos {
        width: 20rem; }
        .servicios-unias .tarjetas-unias .tarjeta-dos .descripcion-tarjeta-dos p {
          font-size: 1rem; }
      .servicios-unias .tarjetas-unias .tarjeta-dos img {
        border-radius: 10px;
        width: 20rem; }
  /* estilos servicios-pestanias version mobile */
  .servicios-pestanias .tarjetas-pestanias {
    width: 0;
    padding-bottom: 20px;
    gap: 4rem; }
    .servicios-pestanias .tarjetas-pestanias .tarjeta-uno {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno .descripcion-tarjeta-uno {
        width: 20rem; }
        .servicios-pestanias .tarjetas-pestanias .tarjeta-uno .descripcion-tarjeta-uno p {
          font-size: 1rem; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno img {
        border-radius: 10px;
        width: 20rem; }
    .servicios-pestanias .tarjetas-pestanias .tarjeta-dos {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem;
      flex-direction: column-reverse; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos .descripcion-tarjeta-dos {
        width: 20rem; }
        .servicios-pestanias .tarjetas-pestanias .tarjeta-dos .descripcion-tarjeta-dos p {
          font-size: 1rem; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos img {
        border-radius: 10px;
        width: 20rem; }
  /* estilos conocenos version mobile */
  .conocenos .por-que-elegirnos .info-elegirnos {
    display: flex;
    flex-direction: column; }
    .conocenos .por-que-elegirnos .info-elegirnos .img-elegirnos img {
      object-fit: cover;
      margin: 0;
      width: 100%; }
    .conocenos .por-que-elegirnos .info-elegirnos .descripcion-elegirnos p {
      font-size: 1rem; }
  .conocenos .staff .especialista {
    flex-direction: column; }
    .conocenos .staff .especialista p {
      font-size: 1rem; } }

@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* estilos index version tablet */
  .index .imagen-presentacion {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem; }
    .index .imagen-presentacion .texto-presentacion h1 {
      font-size: 1.7rem; }
    .index .imagen-presentacion .texto-presentacion p {
      font-size: 1.7rem;
      width: 80%; }
  .index .servicios-index .tarjetas-servicios {
    display: grid;
    grid-template-columns: repeat(2, 2fr); }
  /* estilos servicios version tablet */
  .servicios .cajas-servicios {
    gap: 1.2rem; }
    .servicios .cajas-servicios .caja-unias a {
      width: 250px;
      height: 250px;
      font-size: 3rem; }
    .servicios .cajas-servicios .caja-pestanias a {
      width: 250px;
      height: 250px;
      font-size: 3rem; }
  /* estilos servicios-unias version tablet */
  .servicios-unias .tarjetas-unias {
    width: 35rem; }
    .servicios-unias .tarjetas-unias .tarjeta-uno {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem; }
      .servicios-unias .tarjetas-unias .tarjeta-uno img {
        border-radius: 10px;
        width: 25rem; }
    .servicios-unias .tarjetas-unias .tarjeta-dos {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem;
      flex-direction: column-reverse; }
      .servicios-unias .tarjetas-unias .tarjeta-dos img {
        border-radius: 10px;
        width: 25rem; }
  /* estilos servicios-pestanias version tablet */
  .servicios-pestanias .tarjetas-pestanias {
    padding: 10px;
    width: 35rem; }
    .servicios-pestanias .tarjetas-pestanias .tarjeta-uno {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-uno img {
        border-radius: 10px;
        width: 25rem; }
    .servicios-pestanias .tarjetas-pestanias .tarjeta-dos {
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem;
      flex-direction: column-reverse; }
      .servicios-pestanias .tarjetas-pestanias .tarjeta-dos img {
        border-radius: 10px;
        width: 25rem; } }
