


/* estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

a{
    text-decoration: none !important;
}
  
@import "../scss/html/header";
@import "../scss/html/index";
@import "../scss/html/servicios";
@import "../scss/html/servicios-unias";
@import "../scss/html/servicios-pestanias";
@import "../scss/html/conocenos";
@import "../scss/html/reserva-turno";
@import "../scss/html/footer";

