@import "../utilidades/variables";

/* estilos header */

.navbar{
    background-color: $color-fondo;
    color: white;
    align-items: right;
    img{
        width: 7rem;
    }
    a{
        color: $color-parrafos !important;
    }
}