@import "../utilidades/variables";

/* estilos header */

.navbar{
    background-color: $color-fondo;
    color: white;
    img{
        width: 7rem;
    }
    a{
        color: $color-parrafos !important;
    }
    a:hover{
        background-color: $color-titulo;
        color: $color-fondo !important;
        border-radius: 5%;
    }
}