@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos index */

.index{ 
    .imagen-presentacion{
        background-image: url("../img/salon-belleza.jpg");
        background-size: 100%;
        background-position: center;
        height: 40rem;
        display: flex;
        flex-direction: column;
        display: flex;
        gap: 2rem;
        justify-content: center;
        .texto-presentacion{
            padding-left: 30px;
            h1{
                font-size: 5rem;
                color: $color-titulo;
                text-shadow: 2px 2px black;
            }
            p{
                font-size: 2rem;
                width: 50%;
                color: white;
                text-shadow: 2px 2px black;
            }
        }
    }
    .servicios-index{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: center;
        padding-top: 15px;
        background-color: $color-fondo;
        .texto-servicios{
            h2{
                color: $color-titulo;
            }
        }
        .tarjetas-servicios{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin: 10px;
            .tarjeta{
                display: flex;
                flex-direction: column;
                border: 2px solid white;
                align-items: center;
                img{
                    width: 18rem;
                    padding: 10px;
                    border-radius: 5%;
                }
                span{
                    color: $color-titulo;
                    text-decoration: underline;
                }
                p{
                    color: $color-parrafos;
                }
            }
        }
        .link-mas-servicios{
            padding-bottom: 20px;
            a{
                @include estilos-button
            }
            a:hover{
                @include estilos-button-hover
            }
        }
    }
}