@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos servicios */

.servicios{
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 30px;
    .titulo-servicios{
        h1{
            color: $color-titulo;
        }
    }
    .cajas-servicios{
        display: flex;
        gap: 6rem;
        .caja-unias{
            a{
                background-image: url("/img/uñas.jpg");
                @include boton-servicios;
                transition: 1s;
            }
            a:hover{
                transform: scale(1.1);
                transition: 1s;
            }
        }
        .caja-pestanias{
            a{
                background-image: url("/img/Pestaña.jpg");
                @include boton-servicios;
                transition: 1s;
            }
            a:hover{
                transform: scale(1.1);
                transition: 1s;
            }           
        }
    }
}