@mixin boton-servicios{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 4rem;
    color: white;
}

@mixin estilos-tarjetas-servicios{
    display: flex;
    gap: 2rem;
    justify-content:space-between;
}

@mixin estilos-button{
    border: 2px solid $color-titulo;
    color: $color-titulo;
    border-radius: 5%;
    padding: 10px;
    transition: 0.5s;
}

@mixin estilos-button-hover{
    background-color: $color-titulo;
    color: $color-fondo;
    transition: 0.5s;
}